/vendor
/.idea
Homestead.json
Homestead.yaml
_ide_helper.php
.DS_Store
/resources/views/vendor
.phpstorm.meta.php
/public/files
/public/manager
/storage/logs
/storage/framework
/storage/app/amrs/*
/storage/app/output/*
/tests/*
/node_modules
composer.lock
